<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://yqall02.baidupcs.com/file/109a7cda384a40c3745953c138e55cc3?bkt=p3-000024d5fb6e414c0d4ad11ae0f53730c683&amp;fid=3260040600-250528-119059357576241&amp;time=1486720401&amp;sign=FDTAXGERLBH-DCb740ccc5511e5e8fedcff06b081203-cUwIXbgn0jvnF%2Bba%2Bvz9%2BUG7HaU%3D&amp;to=yqhb&amp;fm=Yan,B,T,nc&amp;sta_dx=31704132&amp;sta_cs=&amp;sta_ft=ipa&amp;sta_ct=0&amp;sta_mt=0&amp;fm2=Yangquan,B,T,nc&amp;newver=1&amp;newfm=1&amp;secfm=1&amp;flow_ver=3&amp;pkey=000024d5fb6e414c0d4ad11ae0f53730c683&amp;sl=69926991&amp;expires=8h&amp;rt=pr&amp;r=691345854&amp;mlogid=945000681113021944&amp;vuk=3260040600&amp;vbdid=1035657354&amp;fin=shangketong.ipa&amp;slt=pm&amp;uta=0&amp;rtype=1&amp;iv=0&amp;isw=0&amp;dp-logid=945000681113021944&amp;dp-callid=0.1.1&amp;hps=1&amp;csl=500&amp;csign=G2HL3BVPSDyQc%2FdoLSkGefDa%2Bas%3D</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://github.com/JonPing/ForRelease/blob/master/image.512x512.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://yqall02.baidupcs.com/file/4d04a91d93a68f95a4d1fddfca6f00f9?bkt=p3-14004d04a91d93a68f95a4d1fddfca6f00f99426479c000000004925&amp;fid=3260040600-250528-506318504300972&amp;time=1486720360&amp;sign=FDTAXGERLBH-DCb740ccc5511e5e8fedcff06b081203-7Rfl09OS%2FH9%2BpKLwSyNHrVSuicw%3D&amp;to=yqhb&amp;fm=Yan,B,T,nc&amp;sta_dx=18725&amp;sta_cs=&amp;sta_ft=png&amp;sta_ct=0&amp;sta_mt=0&amp;fm2=Yangquan,B,T,nc&amp;newver=1&amp;newfm=1&amp;secfm=1&amp;flow_ver=3&amp;pkey=14004d04a91d93a68f95a4d1fddfca6f00f99426479c000000004925&amp;sl=69926991&amp;expires=8h&amp;rt=pr&amp;r=458615790&amp;mlogid=944989423403844962&amp;vuk=3260040600&amp;vbdid=1035657354&amp;fin=image.512x512.png&amp;slt=pm&amp;uta=0&amp;rtype=1&amp;iv=0&amp;isw=0&amp;dp-logid=944989423403844962&amp;dp-callid=0.1.1&amp;hps=1&amp;csl=500&amp;csign=G2HL3BVPSDyQc%2FdoLSkGefDa%2Bas%3D</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.sungoin.skt.forbeta</string>
				<key>bundle-version</key>
				<string>3.5.3</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>商客通(beta)</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
